body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.code-line {
    border: 1px;
    border-style: solid;
    border-color: black;
}

.col-1.line-number {
    background-color: black;
    color: white;
    text-align: center;
}